body {
    font-family: Times New Roman;
    background-color: white;
    margin: 75px;
}

.container{
    color: lightblue;
    font-size: 100px;
    
}
.img-medium{
    height:100px;
    width:100px;
}