body {
    font-family: Times New Roman;
    margin: 100px;
}

.container{
    color: White;
    font-size: 25px;
    font-family: serif;
    font-style:oblique;
    text-align: justify
}

.img-medium{
    height:150px;
    width:150px;
}
.footer{
    color:white;
}

.menu{
    height: 100px;

}

#name{
    color:white;
    font-size: 25px;
    font-family: Times New Roman;
}
