body {
    font-family: Times New Roman;
    background-color: white;
    margin: 75px;
}

.container{
    color: lightblue;
    font-size: 30px;
    
}
.img-medium{
    height:150px;
    width:150px;
}